.feature {
  height: 78.6875rem;
  background-image: url(/images/bg-curve-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 3.125rem;

  @include breakpoint-up(large) {
    background-image: url(/images/bg-curve-desktop.svg);
    padding-top: 6.25rem;
    height: 52.8125rem;
  }

  &__overlay {
    bottom: 6.25rem;
    height: 100%;
    background-color: rgb(249 249 254);

    @include breakpoint-up(large) {
      min-height: 44.375rem;
    }
  }

  .container {
    padding-top: 5.1875rem;
    text-align: center;

    @include breakpoint-up(large) {
      display: flex;
      padding: 0;
    }
  }

  &__image {
    background-image: url(/images/illustration-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 21rem;
    width: auto;
    margin: 0 auto;

    @include breakpoint-up(large) {
      flex: 1;
      order: 2;
    }
  }

  &__text {
    @include breakpoint-up(large) {
      flex: 1;
      order: 1;
      text-align: left;
    }

    P {
      text-align: left;
    }
    h1 {
      margin-top: 5.3125rem;
    }
  }

  &__link {
    display: inline-block;
    margin: 3.125rem 0;

    &:hover {
      border-bottom: 1px solid rgb(58, 159, 141);
    }

    a {
      color: rgb(58, 159, 141);
      font-size: 0.875rem;
    }
  }

  &__comment {
    background-color: white;
    box-shadow: 2px 2px 11px #888888;
    padding: 1.75rem 2.3125rem;
    text-align: justify;
    border-radius: 0.3125rem;
    margin: 0 auto;

    @include breakpoint-up(large) {
      margin: 0;
      width: 60%;
    }

    p {
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 2;

      @include breakpoint-up(large) {
        max-width: 100%;
      }
    }

    .profile {
      display: flex;
      margin-top: 1.4375rem;
      align-items: center;

      .avatar-text {
        span {
          font-size: 0.625rem;
        }
      }
    }

    .avatar-img {
      img {
        vertical-align: middle;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        margin-right: 0.625rem;
      }
    }
  }
}
