.feature{
    max-width: 100%;
    background-image: url(/images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: auto center;
    padding-top: 50px;
    height: 1300px;
    
    @include breakpoint-up(large){
        background-image: url(/images/bg-curve-desktop.svg);
        padding-top: 99px;
        max-height: 782px;
    }

    &__overlay{
        background-color: rgb(249, 248, 254);
        height: 100%;
        padding: 50px;

        @include breakpoint-up(large){
            padding: 0;
        }
    }

    .container{
        height: 1140px;

        @include breakpoint-up(large){
            display: flex;
            justify-content: center;
            height: 571px;
        }
    }

    &__image{
       background-image: url(/images/illustration-2.svg);
       background-repeat: no-repeat;
       background-position: center center;
       background-size: contain;
       min-height: 354px;

       @include breakpoint-up(large){
          flex: 1;
          order: 2;
       }
    }

    &__text{
        
        p{ 
            @include breakpoint-down(small){
            margin-bottom: 0.9375rem;
        }
}

        @include breakpoint-up(large){
            flex: 1;
            order: 1;
        }

        h1{
            @include breakpoint-up(large){
                margin-top: 2.375rem;
            }
        }
    }

    &__link{
        position: relative;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        text-align: center;

        @include breakpoint-up(large){
            top: 23px;
            transform: translateX(-315px);
        }
        
        a{  
            font-size: 13px;
            color: rgb(85, 168, 153);
            font-weight: 500;
            padding-bottom: 10px;
            margin-bottom: 55px;

            &:hover{
                cursor: pointer;
                border-bottom: 2px solid rgb(85, 168, 153);
            }

            &.fa{
                margin-left: 6px;
            }
           
        }
    }

    &__comment{
        box-shadow:  -3px 4px 11px #888888;
        background-color: white;
        max-width: 405px;
        max-height: 270px;
        padding: 30px 35px;
        margin: 0 auto;
        position: relative;
        top: 55px;

        @include breakpoint-up(large){
            right: 111px;
            top: 58px
        }

        .profile{
            margin-top: 21px;

            display: flex;
            gap: 5px;

            .avatar-img{
                display: inline-block;

                
                img{
                    vertical-align: middle;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }

            }
            .avatar-text{
                display: inline-block;

                span{
                    font-size: 10px;
                    font-weight: 500;
                    opacity: 0.7;
                }
            }
        }

        p{
            font-size: 12px;
            font-weight: 700;
            text-align: justify;
            line-height: 2;
        }

    }
}