@import "_variables";
@import "_mixins";

.header{

    .container{
        border: 2px solid black;
        //  min-width: 471px;
        //  margin: 33px 36px;


        @include breakpoint-up(large){
            margin: 62px auto;
            border: 2px solid red;
        }
    }


    &__logo{

        img{
            @include breakpoint-down(small){
             width: 114px;
            }
        }

    }

    &__links{

        a{
            text-decoration: none;
            font-size: 15px;
            font-weight: $font-wm;
            color: $desaturatedBlue;
            transition: all 150ms ease-in-out;

            @include breakpoint-up(large){
                &:not(:last-child){
                    margin-right: 57px !important;
                }
            }

            &:not(:last-child){
                margin-right: 36px;
            }

            &:hover{
                opacity: 0.6;
            }
        }
    }
}