.hero{
      padding: 3.125rem 2.0625rem;
    //   border: 2px solid red;

      @include breakpoint-down(small){
        padding: 3.125rem;
      }

      @include breakpoint-up(large){
        padding-top: 1.625rem ;
      }

     .container{
    //    border: 2px solid red; 
       width: 100%;
       min-height: 54.5rem;
       padding: 0 0.74rem;
         
       @include breakpoint-up(large){
        display: flex;
        min-height: 30.75rem;
       }


     }
    &__image{
        background-image: url(/images/illustration-1.svg);
        width: 100%;
        // border: 2px solid black;
        min-height: 20.375rem;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint-up(large){
            flex: 1;
            order: 2;
        }
    }

    &__text{
        text-align: center;
        // border: 2px solid gray;

        @include breakpoint-up(large){
            min-width: 35.625rem;
            text-align: left;
            flex: 1;
            order: 1;
        }

        p{  

            // border: 2px solid blue;
            font-size: 0.9375rem;
            font-weight: 400;
            margin-bottom: 2.9375rem;

            @include breakpoint-up(large){
                margin: 0px;
                max-width: 83%;
            }

            @include breakpoint-down(esmall){
                font-size: 12px;
            }
        }

        input{
            width: 100%;
            padding: 0.75rem 1.6875rem;
            border: 1px solid $desaturatedBlue;
            border-radius: 0.3125rem;

            &::placeholder{
                font-size: 0.75rem;
                font-family: 'Raleway', sans-serif;
            }

            &:focus{
                outline: none;
            }

            @include breakpoint-up(large){
                padding: 0.8125rem 1.125rem;
                max-width: 19.875rem;
                margin-right: 1.1875rem;
            }
        }

        a{  
            button{
                width: 100%;
                background-color: $brightBlue;
                padding: 0.75rem 0;
                border: none;
                margin-top: 1.5rem;
                border-radius: 0.3125rem;
                color: white;
                font-weight: 700;
                cursor: pointer;
                border: 1px solid $brightBlue;
                transition: all 200ms ease-in-out;

                &:hover{
                   background-color: white;
                   color: $brightBlue;

                }

                @include breakpoint-up(large){
                    max-width: 12.5625rem;
                    padding: 0.8125rem 0;
                    font-size: 0.8125rem;
                }
            }
            
        }
    }
}